@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');


body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: url("../../img/header.svg") top left no-repeat,
                url("../../img/footer.svg") bottom left no-repeat;
}



/*header*/
header{
    width: 100vw;
    height: auto;
}
header h1{
    font-size: 2em;
    font-family: 'Jacques Francois', serif;
}
header li{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 5px;
    margin-left: 5px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
}
header a{
    color: white;
}
header a:hover{
    color: white;
}
header li a:hover{
    color: #000;
}

header li:hover {
    color: white;
    background-color: #fff;
    border-radius: 10px;
}

.botao{
    color: #fff;
}

/*Projetos*/

#projetos {
    color: rgb(0, 0, 0);
    padding-bottom: 120px;
    padding-top: 120px;
}
#projetos .card {
    margin-bottom: 15px;
}
#cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 60px;
}

.botaoCard {
    background-color: #000;
    color: #fff;
    border-radius: 15px;
}
.botaoCard:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

#projetos .card-body {
    background-color: rgba(66, 63, 63, 0.719);
    color: #fff;
}


/*Footer*/

#cabecalho {
    background-color: #000;
    color: #fff;
}
#cabecalho a{
    text-decoration: none;
    padding: 0;
}

#cabecalho .row {
    height: auto;
}
.texto-footer {
    height: 30px;
}




/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px) and (min-width: 360px) {
   
    /*header*/
    header a{
        color: white;
        background-color: #000;
        border: none;
    }
    header li {
        border: none;
        width: 45%;
    }


   
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 767.98px) and (min-width: 577px) {
  
    /*header*/
    header a{
        color: white;
        background-color: #000;
        border: none;
    }
    header li {
        border: none;
        width: 45%;
    }
}
