@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


body{
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    overflow-x: hidden;
    overflow-y: scroll;
}

h2 {
    font-size: 2.3em;
    margin-bottom: 60px;
}

/*header*/
header{
    background-color: #3FBDF1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header a {
    color: #000;
}

header a:hover {
    color: #fff;
}

.botao{
    background-color: #000;
    color: #3FBDF1;
}

/*hero*/

#hero {
    width: 100vw;
    height: 595px;
}
#hero a{
    text-decoration: none;
}

.col-md-6 {
    padding: 0;
    margin: 0;
}
.imgPainel{
    position: absolute;
    bottom: 120px;
}

.alinhamentoTexto{
    padding-bottom: 30px;
}


.textoPainel{
    margin-top: 325px;
    margin-bottom: 120px;
}


/*Sobre*/

#sobre {
    background-color: #3FBDF1;
    border-radius: 10px;
}
#sobre .row {
    height: 580px;
}

.imgSobre{
    margin-top: 90px;
    margin-bottom: 90px;
}

.textSobre {
    margin-top: 90px;
}


.e46_537 { 
	overflow:hidden;
}
.e46_537 { 
	width:420px;
	height:410px;
	position:absolute;
}
.e46_534 { 
	border-radius:500px;
	width:400px;
	height:400px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url(../../img/ellipse_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e46_535 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	width:400px;
	height:400px;
	position:absolute;
	left:20px;
	top:0px;
}
.e46_535 { 
	border:3px solid rgba(255, 255, 255, 1);
}
.e46_536 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	width:400px;
	height:400px;
	position:absolute;
	left:0px;
	top:2px;
}
.e46_536 { 
	border:3px solid rgba(0, 0, 0, 1);
}


/*Habilidades*/

#habilidades {
    height: 220px;
}
#habilidades .col-md-2 {
    margin-right: 5px;
}

.habText{
    background-color: #3FBDF1;
    color: #000;
    border-radius: 10px;
}

/*Projetos*/

#projetos {
    background-color: #3FBDF1;
    border-radius: 10px;
    padding-bottom: 60px;
}

.botaoCard {
    width: 90px;
    background-color: #3FBDF1;
    color: #000;
}
.botaoCard:hover {
    background-color: #000;
    color: #3FBDF1;
}


/*contato*/

.formDiv {
    background-color: #3FBDF1;
    border-radius: 10px;
}

.form-group {
    width: 85%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.formDiv .botaoCard {
    background-color: #fff;
}

.formDiv .botaoCard:hover {
    background-color: #000;
    color: #3FBDF1;
    border-radius: 10px;
}

.imgContato {
    width: 80%;
    height: 70%;
    position: absolute;
    bottom: 0;
    left: 15px;
}


/*Footer*/

#cabecalho {
    background-color: #3FBDF1;
}
#cabecalho a{
    text-decoration: none;
    padding: 0;
}

#cabecalho .row {
    height: 50px;
}





@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}



/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    /*header*/
    #hero {
        height: auto;
        text-align: center;
    }
    .textoPainel{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /*sobre*/
    #sobre .row {
        height: auto;
        text-align: center;
    }
    h2 {
        font-size: 1.4em;
        margin-bottom: 20px;
    }
    
    .imgSobre{
        margin-top: 15px;
        margin-bottom: 15px;
        display: none;
    }
    
    .textSobre {
        margin-top: 15px;
    }
    

    /*habilidade*/
    #habilidades {
        width: 100vw;
        height: auto;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    #habilidades .col-md-2 {
        margin-top: 5px;
    }
    
    .habText{
        width: 100%;
        text-align: center;
    }

    /*Projetos*/
    #projetos {
        background-color: #3FBDF1;
        border-radius: 10px;
    }
    #projetos h2 {
        margin-top: 15px;
    }

    /*contato*/
    #contato .col-md-12 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .imgContato {
        display: none;
    }


}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
    .imgPainel{
        display: none;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}