@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');


body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    overflow-x: hidden;
    overflow-y: scroll;
    background: url("../../img/header.svg") top left no-repeat,
                url("../../img/footer.svg") bottom left no-repeat;
}



/*header*/
header{
    width: 100vw;
    height: auto;
}
header h1{
    font-size: 1.6em;
    font-family: 'Jacques Francois', serif;
}
header li{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 5px;
    margin-left: 5px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
}
header a{
    color: white;
}
header a:hover{
    color: white;
}
header li a:hover{
    color: #000;
}

header li:hover {
    color: white;
    background-color: #fff;
    border-radius: 10px;
}

.botao{
    color: #fff;
}

/*hero*/

#hero {
    width: 100vw;
    height: 100vh;
    background: url("../../img/hero.svg") bottom left no-repeat;
}
#hero a{
    text-decoration: none;
}
#hero .icone{
    color: #000;
}

.col-md-6 {
    padding: 0;
    margin: 0;
}

.textoPainel{
    margin-top: 136px;
    color: #000;
}


/*Sobre*/

#sobre {
    background-color: #000;
    color: #fff;
}
#sobre .row {
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.textSobre {
    height: 300px;
}
#sobre h2 {
    margin-bottom: 30px;
}

.e46_537 { 
	overflow:hidden;
}
.e46_537 { 
	width:320px;
	height:310px;
	position:absolute;
}
.e46_534 { 
	border-radius:500px;
	width:300px;
	height:300px;
	position:absolute;
	left:10px;
	top:10px;
	background-image:url(../../img/ellipse_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e46_535 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	width:300px;
	height:300px;
	position:absolute;
	left:20px;
	top:0px;
}
.e46_535 { 
	border:3px solid rgba(255, 255, 255, 1);
}
.e46_536 { 
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	width:300px;
	height:300px;
	position:absolute;
	left:0px;
	top:2px;
}
.e46_536 { 
	border:3px solid rgba(255, 255, 255, 1);
}


/*Habilidades*/

#habilidades {
    height: auto;
}
#habilidades .card {
    width: 90%;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

#habilidades .btn-link{
    color: #fff;
}
#habilidades .col-md-6 {
    padding-bottom: 60px;
    padding-top: 60px;
}

#habilidades .card-body {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 0 0  10px 10px;
}

/*Projetos*/

#projetos {
    background-color: #000;
    color: #fff;
    padding-bottom: 60px;
    padding-top: 60px;
}

.botaoCard {
    width: 90px;
    background-color: #000;
    color: #fff;
    border-radius: 15px;
}
.botaoCard:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.fa-arrow-circle-right,
.fa-arrow-circle-left {
    font-size: 48px;
    color: #000;
    border: 2px solid #fff;
    border-radius: 50%;
}

#projetos .card-body {
    background-color: rgba(66, 63, 63, 0.719);
    color: #fff;
}


/*contato*/

#contato {
    padding-top: 60px;
    padding-bottom: 60px;
}

.formDiv {
    background-color: #000;
    border-radius: 15px;
    color: #fff;
}

.form-group {
    width: 85%;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.formDiv .botaoCard {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 15px;
}
.formDiv .botaoCard:hover {
    background-color: #fff;
    color: #000;
}

.imgContato {
    width: 80%;
    height: 70%;
}


/*Footer*/

#cabecalho {
    background-color: #000;
    color: #fff;
}
#cabecalho a{
    text-decoration: none;
    padding: 0;
}

#cabecalho .row {
    height: auto;
}
.texto-footer {
    height: 30px;
}




@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}



/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px) and (min-width: 360px) {
    /*header*/
    #hero {
        height: auto;
        text-align: center;
    }
    .textoPainel{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    /*sobre*/
    #sobre .row {
        height: auto;
        text-align: center;
    }
    h2 {
        font-size: 1.4em;
        margin-bottom: 20px;
    }
    
    .imgSobre{
        margin-top: 15px;
        margin-bottom: 15px;
        display: none;
    }
    .imgPainel {
        position: static;
        bottom: 120px;
        display: none;
    }
    
    .textSobre {
        margin-top: 15px;
    }
    

    /*habilidade*/
    #habilidades {
        width: 100vw;
        height: auto;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    #habilidades .col-md-2 {
        margin-top: 5px;
    }
    
    .habText{
        width: 100%;
        text-align: center;
    }

    /*Projetos*/
    #projetos {
        background-color: #3FBDF1;
        border-radius: 10px;
    }
    #projetos h2 {
        margin-top: 15px;
    }

    /*contato*/
    #contato .col-md-12 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .imgContato {
        display: none;
    }

    /*footer*/
    .textoMenor{
        text-align: center;
    }
    .limpar {
        display: none;
    }
    #cabecalho .row {
        height: 40px;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 767.98px) and (min-width: 577px) {
    /*header*/
    #hero {
        height: auto;
        text-align: center;
    }
    .textoPainel{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .ilustracaoPainel{
        display: none;
    }

    /*sobre*/
    #sobre .row {
        height: auto;
        text-align: center;
    }
    h2 {
        font-size: 1.4em;
        margin-bottom: 20px;
    }
    
    .imgSobre{
        display: none;
    }
    
    .textSobre {
        margin-top: 15px;
        text-align: left;
    }
    

    /*habilidade*/
    #habilidades {
        width: 100vw;
        height: auto;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    #habilidades .col-md-2 {
        margin-top: 5px;
    }
    
    .habText{
        width: 100%;
        text-align: center;
    }

    /*Projetos*/
    #projetos {
        background-color: #3FBDF1;
        border-radius: 10px;
    }
    #projetos h2 {
        margin-top: 15px;
    }

    /*contato*/
    #contato .col-md-12 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .imgContato {
        display: none;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 991.98px) and (min-width: 769px){
    /*header*/
    #hero {
        height: auto;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 15px;
    }
    .textoPainel{
        margin-top: 30px;
        margin-bottom: 0;
        display: flex;
        justify-items: center;
        align-items: end;
    }
    .imgPainel{
        position: static;
        width: 400px;
    }

    /*sobre*/
    #sobre .row {
        justify-content: center;
        align-items: center;
        height: auto;
    }
    h2 {
        font-size: 1.4em;
        margin-bottom: 20px;
    }
    
    .imgSobre{
        display: none;
    }
    
    .textSobre {
        margin-top: 15px;
        text-align: center;
    }
    

    /*habilidade*/
    #habilidades {
        width: 100vw;
        height: auto;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    /*Projetos*/
    #projetos {
        height: auto;
    }
    .botaoCard {
        width: 80px;
        margin-bottom: 5px;
    }
    
    #projetos h2 {
        margin-top: 15px;
    }

    /*contato*/
    #contato .col-md-12 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .imgContato {
        display: block;
        width: 100%;
        height: auto;
    }
    .formDiv {
        width: 100%;
        height: 450px;
    }
    
    .form-group {
        width: 85%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 992px) {



    /*hero*/

    #hero {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .textoPainel{
        margin-top: 200px;
    }

    /*Sobre*/
    #sobre .row {
        height: auto;
    }

    .imgSobre{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .textSobre {
        margin-top: 60px;
    }

    .e46_537 { 
        overflow: none;
    }
    .e46_537 { 
        width:350px;
        height: 350px;
        position: static;
    }
    .e46_534 { 
        border-radius:500px;
        width:350px;
        height: 350px;
        position:absolute;
        left:10px;
        top:10px;
        background-image:url(../../img/ellipse_6.png);
        background-repeat:no-repeat;
        background-size:cover;
    }
    .e46_535 { 
        border-radius:500px;
        background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
        width: 350px;
        height: 350px;
        position:absolute;
        left:20px;
        top:0px;
    }
    .e46_535 { 
        border:3px solid rgba(255, 255, 255, 1);
    }
    .e46_536 { 
        border-radius:500px;
        background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
        width: 350px;
        height: 350px;
        position:absolute;
        left:0px;
        top:2px;
    }
    .e46_536 { 
        border:3px solid rgba(0, 0, 0, 1);
    }
}